fastapi==0.115.12
passlib==1.7.4
pydantic==2.10.6
pydantic-settings==2.9.1
pydantic_core==2.27.2
python-dotenv==1.1.0
python_jose==3.5.0
Requests==2.32.4
SQLAlchemy==2.0.41
uvicorn==0.34.2
psycopg2-binary==2.9.10
pydantic[email]==2.10.6
cloudinary==1.44.0
pypdf==5.6.0
python-docx==1.2.0
pandas==2.3.0
openpyxl==3.1.5
python-multipart==0.0.20
alembic==1.16.2
langchain[openai,anthropic,google-genai,groq]==0.3.21